:root {
    --tc-purple-100: #fbf0ff;
    --tc-purple-200: #edc8ff;
    --tc-purple-300: #de99ff;
    --tc-purple-400: #c158f8;
    --tc-purple-500: #990ae3;
    --tc-purple-600: #7800b4;
    --tc-purple-700: #5e0092;
    --tc-purple-800: #30004b;
    --tc-purple-850: #29003e;
    --tc-purple-900: #1f002e;
    --tc-beige-50: #f8eee8;
    --tc-beige-100: #ecded4;
    --tc-beige-200: #d4c4ba;
    --tc-beige-300: #b4a49c;
    --tc-beige-400: #988a84;
    --tc-beige-500: #827672;
    --tc-beige-600: #5c524e;
    --tc-beige-700: #403a36;
    --tc-beige-800: #282420;
    --tc-beige-900: #1c1818;
    --tc-gray-50: #f4f4f9;
    --tc-gray-100: #e8e8ed;
    --tc-gray-200: #dcdce1;
    --tc-gray-300: #c8c8cd;
    --tc-gray-400: #b0b0b5;
    --tc-gray-500: #8c8c90;
    --tc-gray-600: #606064;
    --tc-gray-700: #48484b;
    --tc-gray-800: #303032;
    --tc-gray-850: #28282a;
    --tc-gray-900: #121214;
    --tc-green-100: #ccefdd;
    --tc-green-200: #a6e3c4;
    --tc-green-300: #73d3a2;
    --tc-green-400: #4cc789;
    --tc-green-500: #26bb6f;
    --tc-green-600: #00af56;
    --tc-green-700: #008641;
    --tc-green-800: #00572a;
    --tc-green-900: #00361a;
    --tc-red-100: #fad1de;
    --tc-red-200: #f6aec6;
    --tc-red-300: #f07fa5;
    --tc-red-400: #eb5185;
    --tc-red-500: #e4175c;
    --tc-red-600: #be0040;
    --tc-red-700: #890e37;
    --tc-red-800: #5b0925;
    --tc-red-900: #390617;
    --tc-orange-100: #ffebcc;
    --tc-orange-200: #ffdca6;
    --tc-orange-300: #ffc366;
    --tc-orange-400: #ffaf33;
    --tc-orange-500: #ff9b00;
    --tc-orange-600: #cc7c00;
    --tc-orange-700: #995d00;
    --tc-orange-800: #663e00;
    --tc-orange-900: #402700;
    --tc-blue-100: #ccebff;
    --tc-blue-200: #a6dbff;
    --tc-blue-300: #66c2ff;
    --tc-blue-400: #33adff;
    --tc-blue-500: #0099ff;
    --tc-blue-600: #007acc;
    --tc-blue-700: #00558f;
    --tc-blue-800: #003d66;
    --tc-blue-900: #00253d;
}
