name: Publish

on: 
  push:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Create links file
        run: |
          touch js/links.js
          echo 'var HRB = `https://google.com`;' >> js/links.js

